body {
    font-family: Arial, sans-serif;
    background: #f5f5f5;
    margin: 0;
    padding: 0;
}
header {
    background: #19d8e3;
    color: white;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.search-bar {
    margin: 20px auto;
    max-width: 400px;
    display: flex;
}
.search-bar input {
    flex: 1;
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
}
.search-bar button {
    padding: 8px 16px;
    background: #0475e6;
    color: white;
    border: none;
    cursor: pointer;
}
#product-list {
    max-width: 800px;
    margin: 40px auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    gap: 20px;
}
.product-card {
    background: rgb(150, 214, 223);
    border: 1px solid #ccc;
    padding: 16px;
    border-radius: 8px;
    box-shadow: 0 0 8px rgba(0,0,0,0.1);
}
.product-card img{
    width: 60%;
    height: 40%;
    object-fit:cover ;
    border-radius: 4px;
}
.product-card h3 {
    margin: 0 0 8px 0;
    font-size: 1.1rem;
}
.product-card p {
    margin: 0 0 8px 0;
    color: #555;
}
.product-card .price {
    color: #1976d2;
    font-weight: bold;
}
#login-section {
    display: flex;
    gap: 8px;
}
#login-message {
    margin-left: 10px;
    font-size: 0.9rem;
    color: #fff;
}